<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/styles/homepage.css">
</head>

<body>
    <h1>Welcome to the Home Page</h1>

    <!-- Check if group_id exists and is not empty -->
    {% if group_id %}
    <div>
        <h2>Group Information:</h2>
        <!-- Apply CSS class to the main group list for styling -->
        <ul class="group-list">
            {% for item in group_id %}
            <li>
                <a href="">
                    <span class="property">Name:</span> {{ item['name'] }}<br />
                    <span class="property">ID:</span> {{ item['id'] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>No group information available.</p>
    {% endif %}

</body>

</html>